body{
    margin: 0;
    padding: 0;
}
.body{
    height: 200%;
}
.navigation{
    width: 100%;
    border-bottom: 1px solid  rgb(192, 191, 191);
    display: inline-block;
    margin: 0%;
}
ul{
    margin: 1% ;
}
.header li{
 display: inline-block;
}
.header a{
    color: black;
    text-decoration: none;
    padding: 10px 10px 6px 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.searchbar{
    float: right;
    height: 40%;
    width: 30%;
}
.greenbutton{
    float: right;
    padding: 6px 15px 6px 15px;
    background-color: #206a16;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    border: 1px solid #206a16;
    padding: 13px;
    width: 10%;
}
.searchbar select{
    padding: 6px 2px 6px 2px;
    border: 0px;
    float: right;
    border-radius: 20px;
}
.searchbar input{
    padding: 6px 30px 6px 30px;
    border: 0px;
    border-radius: 20px;
}
.searchbar{
    border: 2px solid rgb(211, 206, 206);
    border-radius: 20px;
    margin-right: 5%;
}
.logo{
   float: left; 
   width: 6%;
   position: relative;
   bottom: 8%;
   right: 2%;
}
.body{
    display: inline-block;
}
.mainheading{
    display: inline-block;
    color:#14a800;
    font-size: 90px;
    font-weight: 530;
    width: 40%;
    margin-left: 8%;
    margin-bottom: 0%;
}
.mainimg{
    float: right;
    height: 30%;
    width: 40%;
}
.mainpara{
    display: inline-block;
    font-size: 30px;
    width: 50%;
    color: #5e6d55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8%;
}
#greytext{
    color: #858d85d5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 8%; 
}
.greypara{
    color: #d5e0d5d5;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.companylogo{
    width: 7%;
    margin-left: 8%;
}
.blackheading{
    display: inline-block;
    font-size: 90px;
    font-weight: 530;
    width: 60%;
    margin-left: 8%;
    color: black;
}
.flexcontainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.bluecard{
    height: 50%;
    width: 35%;
    background-color: #13544e;
    border-radius: 5px;
    padding: 25px
}
.orangecard{
    height: 50%;
    width: 35%;
    background-color: #bc511b;
    border-radius: 5px;
    padding: 25px;
}
.whitepara{
    color: aliceblue;
    font-size: 28px;
    font-weight: 200;   
}
hr{
    color: #d5e0d5d5;
}
.gridparas{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    row-gap: 10px;
}
.footer{
    width: auto;
    height: 40%;
    background-color:#303830;
    margin-top: 10%;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.footerlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footerpara{
    color: whitesmoke;
    list-style-type: none;
}
h3{
    color: whitesmoke;
    display: inline-block;
}
.footerimage{
    width: 30px;
    height: 30px;
    margin-top: 5%;
    margin-left: 1%;
    border: 1px solid white;
    border-radius: 30px;
}
#float{
    float: right;
    width: 20%;
    margin-top: 3%;
}
.inlinelist,li{
    color: whitesmoke;
    list-style-type: none;
    display: flex;
    margin-left: 2%;
}
.inlinelist li:hover{
    text-decoration: underline;
    cursor:pointer;
}
.greenbutton:hover{
    background-color: #14a800;
}
.searchbar:hover{
    background-color: #d5e0d5;
}